@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 20px;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination .links a
    {
        width: 36px;
    }


    .pagination .go_to .field
    {
        width: 100%;

        flex-wrap: nowrap;
    }

    .pagination .go_to .field .label
    {
        padding: 0 16px;
    }

    .pagination .go_to .field .input
    {
        width: 100%;
    }

    .pagination .go_to .submit_btn
    {
        width: 100%;
        margin-top: 8px;
        margin-left: 0;
    }



    /*------------
        Header
    ------------*/
    header .logo,
    header .logo img
    {
        height: 30px;
    }


    header .info .links > * + *
    {
        margin-left: 24px;
    }



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        font-size: 14px;
        line-height: 18px;
    }


    .form .payment_methods > *
    {
        width: calc(50% - 8px);
    }


    .form .payment_methods label
    {
        padding: 15px;
    }


    .form .submit_btn
    {
        padding: 6px 20px;
    }



    /*----------------
        Typography
    ----------------*/



    /*--------------
        Products
    --------------*/
    .products .product
    {
        padding: 15px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .buy_info
    {
        padding-left: 80px;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features .item .name
    {
        width: calc(35% - 12px);
    }

    .product_features .item .val
    {
        width: 65%;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .sort .name
    {
        width: 100%;
        margin-bottom: 12px;
    }


    .reviews .sort .btn
    {
        margin-left: 0;
    }

    .reviews .sort .btn + .btn
    {
        margin-left: 16px;
    }


    .reviews .rating
    {
        padding: 23px;
    }

    .reviews .rating .stars .icon + .icon
    {
        margin-left: 4px;
    }

    .reviews .rating .value
    {
        font-size: 24px;
        line-height: 30px;

        position: relative;
        top: 2px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product
    {
        padding-left: 32px;
    }


    .cart_info .product .thumb
    {
        width: 72px;
        min-width: 72px;
        height: 96px;
    }


    .cart_info .product .info
    {
        width: calc(100% - 88px);
    }


    .cart_info .product .price,
    .cart_info .product .price.total
    {
        width: auto;
        min-width: 0;
        margin-top: 16px;
    }

    .cart_info .product .price.total
    {
        margin-top: 16px;
        margin-left: auto;

        align-self: center;
    }


    .cart_info .product .amount
    {
        width: 100%;

        order: 3;
    }

    .cart_info .product .amount .minimum
    {
        margin-top: 8px;
    }

    .cart_info .product .amount .minimum br
    {
        display: none;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .methods .method
    {
        display: block;
    }

    .checkout_info .methods .icon + *
    {
        width: 100%;
        margin-top: 12px;
    }



    .checkout_info .cart .product .thumb
    {
        width: 72px;
        min-width: 72px;
        height: 96px;
    }


    .checkout_info .cart .product .info
    {
        width: calc(100% - 88px);
    }


    .checkout_info .cart .product .buy
    {
        padding-left: 88px;
    }

    .checkout_info .cart .product .price
    {
        width: 100%;
        margin-top: 8px;
        margin-left: 0;
    }


    .checkout_info .totals_info .info .address br
    {
        display: none;
    }



    /*--------------
        LK block
    --------------*/
    .lk_block .logout_btn
    {
        display: none;
    }



    /*------------
        Filter
    ------------*/
    .lk_info .filter .form .date .row .field
    {
        width: 100%;
    }

    .lk_info .filter .form .date .row .field + .field
    {
        margin-top: 8px;
    }



    /*---------------
        Documents
    ---------------*/
    .lk_info .documents .document .col_price
    {
        margin-top: 8px;
    }


    .lk_info .documents .document .col_action
    {
        padding: 0;
    }


    .lk_info .documents .col_number,
    .lk_info .documents .col_status,
    .lk_info .documents .col_date,
    .lk_info .documents .col_price,
    .lk_info .documents .col_action
    {
        width: 50%;
    }



    /*----------------
        Order info
    ----------------*/
    .order_info .product .thumb
    {
        width: 72px;
        min-width: 72px;
        height: 96px;
    }


    .order_info .product .info
    {
        width: calc(100% - 88px);
    }


    .order_info .product .buy
    {
        padding-left: 88px;
    }

    .order_info .product .total_price
    {
        width: 100%;
    }



    /*-----------
        Stats
    -----------*/
    .lk_info .stats .amount
    {
        width: 52px;
        min-width: 52px;
        margin-right: 8px;
    }



    /*------------
        Update
    ------------*/
    .lk_info .update .upload .btn
    {
        width: calc(100% + 2px);
    }

    .lk_info .update .upload input[type=file] + label
    {
        height: 80px;
        padding-top: 39px;
        padding-right: 15px;
        padding-left: 15px;
    }



    /*----------------
        Add prices
    ----------------*/
    .lk_info .add_prices .upload .btn
    {
        width: calc(100% + 2px);
    }

    .lk_info .add_prices .upload input[type=file] + label
    {
        height: 80px;
        padding-top: 39px;
        padding-right: 15px;
        padding-left: 15px;
    }



    /*------------
        Orders
    ------------*/
    .lk_info .supllier_order
    {
        padding-right: 15px;
        padding-left: 15px;
    }


    .lk_info .orders .col_address
    {
        width: calc(50% - 8px);
        min-width: 0;
    }


    .lk_info .orders .col_status
    {
        width: 100%;
        min-width: 0;
        margin-left: 0;
    }


    .lk_info .supllier_order .col_products
    {
        width: calc(100% + 30px);
        margin: 10px -15px -10px;
        padding: 0 15px;
    }


    .lk_info .supllier_order .product
    {
        padding: 16px 0;
    }


    .lk_info .supllier_order .col_products .info
    {
        width: calc(100% - 96px);
        padding-right: 36px;
    }


    .lk_info .supllier_order .col_products .model,
    .lk_info .supllier_order .product .price,
    .lk_info .supllier_order .col_products .amount,
    .lk_info .supllier_order .col_products .price.total
    {
        width: 50%;
    }



    /*------------------------
        LK products search
    ------------------------*/
    .lk_products .product .col_articul,
    .lk_products .product .col_date,
    .lk_products .product .col_activity,
    .lk_products .product .col_price,
    .lk_products .product .col_brand,
    .lk_products .product .col_thing,
    .lk_products .product .col_availability
    {
        width: calc(100% - 12px);
    }

    .lk_products .product .col_date
    {
        margin-top: 12px;
    }



    /*-----------------
        Add product
    -----------------*/
    .lk_info .add_product .steps .step
    {
        width: 100%;
    }



    /*-----------------
        Add product
    -----------------*/
    .add_product .price_setting .line
    {
        width: 100% !important;
    }


    .add_product .price_setting .submit
    {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .add_product .price_setting .submit_btn
    {
        width: 100%;
    }


    .add_product .product_prices .product > *
    {
        width: 50% !important;
    }

    .add_product .product_prices .col_articul
    {
        margin-top: 12px;
    }



    .add_product .add_xlsx .btn
    {
        width: calc(100% + 2px);
    }

    .add_product .add_xlsx input[type=file] + label
    {
        height: 80px;
        padding-top: 39px;
        padding-right: 15px;
        padding-left: 15px;
    }



    /*------------
        Footer
    ------------*/
    footer .cont
    {
        justify-content: space-between;
    }


    footer .links + .links
    {
        margin-left: 0;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 24px;
    }


    .modal .logo
    {
        margin-bottom: 24px;
    }


    .modal .notice
    {
        font-size: 14px;
        line-height: 18px;
    }



    #delivery_method_modal .search
    {
        padding: 15px;
    }


    #delivery_method_modal .map_wrap .map
    {
        min-height: 400px;
    }
}
