@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 22px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination .go_to
    {
        width: 100%;
        margin-top: 12px;
    }


    .pagination .counts
    {
        width: 100%;
    }


    .pagination .actions
    {
        padding: 20px 24px;

        justify-content: space-between;
    }

    .pagination .actions > * + *
    {
        margin-top: 4px;
        margin-left: 24px;
    }


    .pagination .actions > *:first-child
    {
        width: 100%;
    }

    .pagination .actions > *:first-child + *
    {
        margin-left: 0;
    }


    .pagination .actions .deactivate_btn .icon
    {
        margin-left: -7px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 16px 0 20px;
    }



    header .logo,
    header .logo img
    {
        width: 130px;
        height: 35px;
    }



    header .links
    {
        margin-top: 0;
    }

    header .links > * + *
    {
        margin-left: 24px;
    }

    header .links .link span
    {
        display: none;
    }

    header .links .icon
    {
        margin: 0;
    }



    header .catalog .btn
    {
        width: 40px;
        height: 40px;
        padding: 0;

        justify-content: center;
    }

    header .catalog .btn .icon,
    header .catalog .btn .icon + .icon
    {
        margin: 0;
    }

    header .catalog .btn span
    {
        display: none;
    }


    header .catalog .tab_content .row > *
    {
        width: calc(50% - 41px);
    }


    header .catalog .main
    {
        font-size: 16px;

        margin-bottom: 12px;
    }



    header .search .mini_modal
    {
        left: -50px;
    }

    header .search .btn.active + .mini_modal form
    {
        width: calc(100vw - 48px);
    }



    /*-------------
        Sidebar
    -------------*/
    aside .lk_menu
    {
        margin-top: 24px;
    }



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/
    .form .error_text
    {
        width: 100%;
        margin-top: 12px;
    }


    .form .payment_methods
    {
        margin-left: -8px;
    }

    .form .payment_methods > *
    {
        width: calc(33.333% - 8px);
        margin-left: 8px;
    }


    .form .payment_methods label
    {
        padding: 11px;
    }



    /*----------------
        Typography
    ----------------*/



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-button-next,
    .main_slider .swiper-button-prev
    {
        display: none;
    }



    /*--------------
        Products
    --------------*/
    .products .row,
    .content .products .row
    {
        width: calc(100% + 20px);
        margin-right: -10px;
        margin-left: -10px;

        --products_count: 2;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: 50%;
    }


    .products .product,
    .products .row .product
    {
        padding: 10px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe form
    {
        flex-wrap: wrap;
    }

    .subscribe form .input,
    .subscribe form .submit_btn
    {
        width: 100%;
    }

    .subscribe form .submit_btn
    {
        margin-top: 12px;
        margin-left: 0;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .thumbs
    {
        display: none;
    }


    .product_info .images .big
    {
        width: 100%;
    }

    .product_info .images .big .slide .btn,
    .product_info .images .big .slide div
    {
        height: auto;
        padding-bottom: 133.09%;

        pointer-events: none;
    }


    .product_info .images .big .swiper-button-next,
    .product_info .images .big .swiper-button-prev
    {
        display: flex;
    }

    .product_info .images .big .swiper-button-next
    {
        right: 0;
    }

    .product_info .images .big .swiper-button-prev
    {
        left: 0;
    }


    .product_info .sizes .item
    {
        width: calc(100% + 48px);
        margin-right: 24px;
        margin-left: -24px;
        padding: 0;

        transition: background .2s linear;
    }

    .product_info .sizes .item .info
    {
        position: relative;

        width: 100%;
        padding: 11px 24px;

        cursor: pointer;
        pointer-events: auto;
    }

    .product_info .sizes .item.active
    {
        background: #e3f4ff;
    }

    .product_info .sizes .item .info:after
    {
        position: absolute;
        top: 0;
        right: 24px;
        bottom: 0;

        display: block;

        width: 10px;
        height: 10px;
        margin: auto;

        content: '';
        transform: rotate(-45deg);

        border-bottom: 2px solid;
        border-left: 2px solid;
    }


    .product_info .sizes .mob_hide
    {
        display: none;

        padding: 0 24px 11px;
    }


    .product_info .sizes .amount
    {
        width: 100%;
        margin: 12px 0 0;

        order: 3;
    }

    .product_info .sizes .amount .input
    {
        background: #fff;
    }


    .product_info .sizes .available
    {
        width: auto;
        margin-left: auto;
    }

    .product_info .sizes .available br
    {
        display: none;
    }


    .product_info .sizes .total .buy_btn
    {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features .item .name
    {
        width: calc(33% - 12px);
    }

    .product_features .item .val
    {
        width: 67%;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .pagination
    {
        display: none;
    }


    .products_head .sort
    {
        width: 100%;

        flex-wrap: nowrap;
    }

    .products_head .sort .nice-select
    {
        width: 100%;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .data
    {
        padding: 15px;
    }


    .cart_info .select_all
    {
        margin-bottom: 11px;
        padding-bottom: 15px;
    }


    .cart_info .seller_name
    {
        line-height: 22px;

        padding-bottom: 11px;
    }


    .cart_info .product
    {
        padding-left: 40px;
    }


    .cart_info .product .thumb
    {
        position: relative;
        left: 0;
    }


    .cart_info .product .info
    {
        width: calc(100% - 100px);
        margin-left: auto;
    }


    .cart_info .product .price
    {
        width: calc(100% - 160px);
    }


    .cart_info .product .amount
    {
        width: 136px;
        min-width: 0;
    }


    .cart_info .product .price.total
    {
        margin-top: -26px;
    }


    .cart_info .delivery
    {
        line-height: 22px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .methods .icon + *
    {
        width: calc(100% - 97px);
    }

    .checkout_info .methods .btn
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 8px;
    }


    .checkout_info .cart .seller_name
    {
        line-height: 22px;

        padding-bottom: 11px;
    }


    .checkout_info .cart .product
    {
        flex-wrap: wrap;
    }


    .checkout_info .cart .product .info
    {
        width: calc(100% - 100px);
        margin: 0 0 0 auto;
    }


    .checkout_info .cart .product .add_message
    {
        margin-top: 12px;
    }

    .checkout_info .cart .product .add_message .btn
    {
        font-size: 14px;
        line-height: 20px;
    }


    .checkout_info .cart .product .buy
    {
        display: flex;

        width: 100%;
        min-width: 0;
        margin-top: 16px;
        padding-left: 100px;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .checkout_info .cart .product .price
    {
        margin-top: 0;
        margin-left: 24px;
    }



    /*--------------
        LK block
    --------------*/
    .lk_block.no_padding
    {
        padding: 0;
    }


    .lk_block .edit_btn span
    {
        display: none;
    }

    .lk_block .edit_btn .icon
    {
        margin-left: 0;
    }


    .lk_block .edit_pass_btn span
    {
        display: block;
    }



    /*---------------
        User info
    ---------------*/
    .lk_info .user_info .item
    {
        line-height: 23px;

        position: relative;
    }

    .lk_info .user_info .item + .item
    {
        margin-top: 8px;
    }


    .lk_info .user_info .item .name
    {
        width: 100%;
        padding: 0;
    }


    .lk_info .user_info .item .val,
    .lk_info .user_info.contacts_info .item .val
    {
        width: 100%;
    }

    .lk_info .user_info.contacts_info .edit_btn:not(.edit_pass_btn)
    {
        position: absolute;
        top: 11px;
        right: 18px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .my_data .col_left
    {
        width: 100%;
        margin-bottom: 20px;
    }



    /*-------------
        My data
    -------------*/
    .lk_info .my_data .lk_block
    {
        width: 100%;
    }



    /*-----------
        Order
    -----------*/
    .lk_info .order .head > * + *
    {
        margin-left: 0;
    }


    .lk_info .order .number,
    .lk_info .order .date,
    .lk_info .order .from_date,
    .lk_info .order .price,
    .lk_info .order .status
    {
        width: 50%;
        margin-top: 16px;
    }

    .lk_info .order .number,
    .lk_info .order .from_date
    {
        margin-top: 0;
    }

    .lk_info .order .status
    {
        margin-left: auto;
    }



    /*------------
        Filter
    ------------*/
    .lk_info .filter_tabs button
    {
        height: 48px;
    }


    .lk_info .filter .desc
    {
        line-height: 21px;
    }


    .lk_info .filter .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }



    /*---------------
        Documents
    ---------------*/
    .lk_info .documents .titles
    {
        display: none;
    }


    .lk_info .documents .document
    {
        flex-wrap: wrap;
    }

    .lk_info .documents .document:nth-child(2n)
    {
        background: #dcf1ff;
    }


    .lk_info .documents .document > *
    {
        position: relative;

        padding-top: 20px;
    }

    .lk_info .documents .document > *:before
    {
        font-size: 13px;
        font-weight: normal;
        line-height: 20px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 20px;

        content: attr(data-column);
        text-align: left;
        white-space: nowrap;
        letter-spacing: 0;
        text-transform: none;

        opacity: .6;
    }

    .lk_info .documents .document > * + *
    {
        margin-left: 0;
    }


    .lk_info .documents .document .col_status
    {
        margin-top: 8px;
    }


    .lk_info .documents .document .col_action
    {
        margin-top: 8px;
        margin-left: auto;

        justify-content: flex-start;
    }


    .lk_info .documents .document .download span
    {
        opacity: 1;
    }


    .lk_info .documents .col_number,
    .lk_info .documents .col_status,
    .lk_info .documents .col_date,
    .lk_info .documents .col_price,
    .lk_info .documents .col_action
    {
        width: 33.333%;
        min-width: 0;
    }



    /*----------------
        Order info
    ----------------*/
    .order_info .product
    {
        flex-wrap: wrap;
    }


    .order_info .product .info
    {
        width: calc(100% - 100px);
        margin: 0 0 0 auto;
        padding: 0;
    }


    .order_info .product .buy
    {
        display: flex;

        width: 100%;
        min-width: 0;
        margin-top: 16px;
        padding-left: 100px;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .order_info .product .price
    {
        margin-top: 0;
    }

    .order_info .product .buy_btn
    {
        margin-top: 8px;
    }



    /*----------------
        My reviews
    ----------------*/
    .lk_info .my_reviews .review .info
    {
        width: 100%;
        margin-top: 16px;

        order: 2;
    }


    .lk_info .my_reviews .review .col_right
    {
        margin-left: auto;
        padding-top: 40px;
        padding-bottom: 0;
    }


    .lk_info .my_reviews .review .delete_btn
    {
        top: 19px;
        bottom: auto;
    }



    /*-----------
        Stats
    -----------*/
    .lk_info .stats .amount
    {
        width: 100px;
        min-width: 100px;
    }


    .lk_info .stats .price
    {
        font-size: 16px;

        width: 100px;
        min-width: 100px;
    }



    /*------------
        Charts
    ------------*/
    .lk_info .charts .row
    {
        margin-left: 0;
    }


    .lk_info .charts .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .lk_info .charts .price .currency
    {
        top: 0;
    }



    /*------------
        Update
    ------------*/
    .lk_info .update .desc
    {
        font-size: 14px;
        line-height: 22px;
    }


    .lk_info .update .upload .file
    {
        width: 100%;
        margin-bottom: 8px;
    }


    .lk_info .update .upload .form .submit,
    .lk_info .update .upload .form .submit_btn
    {
        width: 100%;
    }



    /*----------------
        Add prices
    ----------------*/
    .lk_info .add_prices .desc
    {
        font-size: 14px;
        line-height: 22px;
    }


    .lk_info .add_prices .upload .file
    {
        width: 100%;
        margin-bottom: 8px;
    }


    .lk_info .add_prices .upload .form .submit,
    .lk_info .add_prices .upload .form .submit_btn
    {
        width: 100%;
    }



    /*------------
        Orders
    ------------*/
    .lk_info .orders .col_date,
    .lk_info .orders .col_price,
    .lk_info .orders .col_number,
    .lk_info .orders .col_buyer
    {
        width: calc(50% - 8px);
        min-width: 0;
    }

    .lk_info .orders .col_buyer,
    .lk_info .orders * + .col_date
    {
        margin-top: 16px;
        margin-left: 0;
    }

    .lk_info .orders .col_price
    {
        margin-top: 16px;
    }



    .lk_info .supllier_order .col_products .titles
    {
        display: none;
    }


    .lk_info .supllier_order .product
    {
        flex-wrap: wrap;
    }


    .lk_info .supllier_order .col_products .info
    {
        width: calc(100% - 100px);
        padding-right: 40px;
    }


    .lk_info .supllier_order .col_products .model,
    .lk_info .supllier_order .product .price,
    .lk_info .supllier_order .col_products .amount,
    .lk_info .supllier_order .col_products .price.total
    {
        position: relative;

        width: auto;
        min-width: 0;
        margin-top: 10px;
        margin-left: 0;
        padding-top: 20px;
    }

    .lk_info .supllier_order .col_products .amount
    {
        min-width: 80px;
    }

    .lk_info .supllier_order .col_products .model:before,
    .lk_info .supllier_order .product .price:before,
    .lk_info .supllier_order .col_products .amount:before,
    .lk_info .supllier_order .col_products .price.total:before
    {
        font-size: 13px;
        font-weight: normal;
        line-height: 17px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 17px;

        content: attr(data-column);
        text-align: left;
        white-space: nowrap;
        letter-spacing: 0;
        text-transform: none;

        opacity: .6;
    }



    /*------------------------
        LK products search
    ------------------------*/
    .lk_products .search .add_btns
    {
        margin-left: 0;
    }

    .lk_products .search .add_btns > *
    {
        width: 100%;
        margin-left: 0;
    }


    .lk_products .search .add_btns .btn,
    .lk_products .search .instruction_link a
    {
        font-size: 14px;
    }


    .lk_products .search .instruction_link
    {
        margin-top: 12px;
        margin-left: auto;
    }



    .lk_products .product
    {
        padding-right: 15px;
        padding-left: 139px;
    }


    .lk_products .product .select,
    .lk_products .product .actions
    {
        left: 15px;
    }


    .lk_products .product .col_thumb
    {
        left: 51px;
    }


    .lk_products .product .col_articul,
    .lk_products .product .col_date,
    .lk_products .product .col_activity,
    .lk_products .product .col_price,
    .lk_products .product .col_brand,
    .lk_products .product .col_thing,
    .lk_products .product .col_availability
    {
        width: calc(50% - 12px);
    }

    .lk_products .product .col_brand,
    .lk_products .product .col_thing
    {
        margin-top: 12px;
    }



    /*-----------------
        Add product
    -----------------*/
    .lk_info .add_product .steps .step
    {
        font-size: 14px;
        line-height: 22px;
    }


    .lk_info .add_product .form .exp,
    .lk_info .add_product .form .image .exp
    {
        position: relative;
        left: 0;

        width: 100%;
        margin-top: 4px;
        margin-left: 0;
        padding: 0;
    }


    .lk_info .add_product .form .compound .row > *,
    .lk_info .add_product .form .info .row > *
    {
        width: 100%;
    }

    .lk_info .add_product .form .compound .row > * + *,
    .lk_info .add_product .form .info .row > * + *
    {
        margin-top: 16px;
    }



    /*-----------------
        Add product
    -----------------*/
    .add_product .price_setting .desc
    {
        font-size: 13px;
        line-height: 19px;
    }


    .add_product .price_setting .line
    {
        width: 217px !important;
    }


    .add_product .product_prices .product > *
    {
        width: 33.333% !important;
    }

    .add_product .product_prices .col_color
    {
        margin-top: 12px;
    }



    .add_product .add_xlsx .file
    {
        width: 100%;
        margin-bottom: 8px;
    }


    .add_product .add_xlsx .form .submit,
    .add_product .add_xlsx .form .submit_btn
    {
        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer.padding
    {
        padding-bottom: 120px;
    }



    /*-----------
        PopUp
    -----------*/
    #delivery_method_modal .address,
    #delivery_method_modal .points
    {
        width: 100%;
    }


    #delivery_method_modal .points .list
    {
        height: auto;
        max-height: 400px;
    }


    #delivery_method_modal .map_wrap
    {
        width: 100%;
        margin-top: 24px;
    }



    #sizes_modal
    {
        padding: 24px;
    }


    #sizes_modal .block_head
    {
        margin-bottom: 16px !important;
    }


    #sizes_modal table
    {
        table-layout: auto;
    }


    #sizes_modal table th
    {
        font-size: 13px;

        padding: 7px 9px;

        white-space: normal;
    }


    #sizes_modal table td
    {
        font-size: 13px;

        padding: 7px 9px;
    }


    #sizes_modal .exp
    {
        font-size: 13px;

        margin-top: 12px;
    }
}
