@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 22px;
    }



    /*------------
        Header
    ------------*/
    header .top
    {
        display: none;
    }


    header .info
    {
        padding: 16px 0 20px;
    }


    header .info .links
    {
        margin-top: 0;
    }

    header .info .links > * + *
    {
        margin-left: 28px;
    }

    header .info .links .link span
    {
        display: none;
    }


    header .catalog_link
    {
        bottom: 20px;
    }



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-button-next,
    .main_slider .swiper-button-prev
    {
        display: none;
    }



    /*--------------
        Products
    --------------*/
    .products .product
    {
        padding: 10px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe form
    {
        flex-wrap: wrap;
    }

    .subscribe form .input,
    .subscribe form .submit_btn
    {
        width: 100%;
    }

    .subscribe form .submit_btn
    {
        margin-top: 12px;
        margin-left: 0;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .thumbs
    {
        display: none;
    }


    .product_info .images .big
    {
        width: 100%;
    }

    .product_info .images .big .slide a
    {
        height: auto;
        padding-bottom: 133.09%;
    }


    .product_info .images .big .swiper-button-next,
    .product_info .images .big .swiper-button-prev
    {
        display: flex;
    }

    .product_info .images .big .swiper-button-next
    {
        right: 0;
    }

    .product_info .images .big .swiper-button-prev
    {
        left: 0;
    }


    .product_info .sizes .item
    {
        width: calc(100% + 48px);
        margin-right: 24px;
        margin-left: -24px;
        padding: 0;

        transition: background .2s linear;
    }

    .product_info .sizes .item .info
    {
        position: relative;

        width: 100%;
        padding: 11px 24px;

        cursor: pointer;
        pointer-events: auto;
    }

    .product_info .sizes .item.active
    {
        background: #e3f4ff;
    }

    .product_info .sizes .item .info:after
    {
        position: absolute;
        top: 0;
        right: 24px;
        bottom: 0;

        display: block;

        width: 10px;
        height: 10px;
        margin: auto;

        content: '';
        transform: rotate(-45deg);

        border-bottom: 2px solid;
        border-left: 2px solid;
    }


    .product_info .sizes .mob_hide
    {
        display: none;

        padding: 0 24px 11px;
    }


    .product_info .sizes .amount
    {
        width: 100%;
        margin: 12px 0 0;

        order: 3;
    }

    .product_info .sizes .amount .input
    {
        background: #fff;
    }


    .product_info .sizes .available
    {
        width: auto;
        margin-left: auto;
    }

    .product_info .sizes .available br
    {
        display: none;
    }


    .product_info .sizes .total .buy_btn
    {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features .item .name
    {
        width: calc(33% - 12px);
    }

    .product_features .item .val
    {
        width: 67%;
    }



    /*------------
        Footer
    ------------*/
}
