@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 22px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination .go_to
    {
        width: 100%;
        margin-top: 12px;
    }



    /*------------
        Header
    ------------*/
    header .top
    {
        display: none;
    }


    header .info
    {
        padding: 16px 0 20px;
    }


    header .info .links
    {
        margin-top: 0;
    }

    header .info .links > * + *
    {
        margin-left: 28px;
    }

    header .info .links .link span
    {
        display: none;
    }


    header .catalog_link
    {
        bottom: 20px;
    }



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/
    .form .error_text
    {
        width: 100%;
        margin-top: 12px;
    }


    .form .payment_methods
    {
        margin-left: -8px;
    }

    .form .payment_methods > *
    {
        width: calc(33.333% - 8px);
        margin-left: 8px;
    }


    .form .payment_methods label
    {
        padding: 11px;
    }



    /*----------------
        Typography
    ----------------*/



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-button-next,
    .main_slider .swiper-button-prev
    {
        display: none;
    }



    /*--------------
        Products
    --------------*/
    .products .row,
    .content .products .row
    {
        width: calc(100% + 20px);
        margin-right: -10px;
        margin-left: -10px;

        --products_count: 2;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: 50%;
    }


    .products .product,
    .products .row .product
    {
        padding: 10px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe form
    {
        flex-wrap: wrap;
    }

    .subscribe form .input,
    .subscribe form .submit_btn
    {
        width: 100%;
    }

    .subscribe form .submit_btn
    {
        margin-top: 12px;
        margin-left: 0;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .thumbs
    {
        display: none;
    }


    .product_info .images .big
    {
        width: 100%;
    }

    .product_info .images .big .slide .btn,
    .product_info .images .big .slide div
    {
        height: auto;
        padding-bottom: 133.09%;

        pointer-events: none;
    }


    .product_info .images .big .swiper-button-next,
    .product_info .images .big .swiper-button-prev
    {
        display: flex;
    }

    .product_info .images .big .swiper-button-next
    {
        right: 0;
    }

    .product_info .images .big .swiper-button-prev
    {
        left: 0;
    }


    .product_info .sizes .item
    {
        width: calc(100% + 48px);
        margin-right: 24px;
        margin-left: -24px;
        padding: 0;

        transition: background .2s linear;
    }

    .product_info .sizes .item .info
    {
        position: relative;

        width: 100%;
        padding: 11px 24px;

        cursor: pointer;
        pointer-events: auto;
    }

    .product_info .sizes .item.active
    {
        background: #e3f4ff;
    }

    .product_info .sizes .item .info:after
    {
        position: absolute;
        top: 0;
        right: 24px;
        bottom: 0;

        display: block;

        width: 10px;
        height: 10px;
        margin: auto;

        content: '';
        transform: rotate(-45deg);

        border-bottom: 2px solid;
        border-left: 2px solid;
    }


    .product_info .sizes .mob_hide
    {
        display: none;

        padding: 0 24px 11px;
    }


    .product_info .sizes .amount
    {
        width: 100%;
        margin: 12px 0 0;

        order: 3;
    }

    .product_info .sizes .amount .input
    {
        background: #fff;
    }


    .product_info .sizes .available
    {
        width: auto;
        margin-left: auto;
    }

    .product_info .sizes .available br
    {
        display: none;
    }


    .product_info .sizes .total .buy_btn
    {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
    }



    /*----------------------
        Product features
    ----------------------*/
    .product_features .item .name
    {
        width: calc(33% - 12px);
    }

    .product_features .item .val
    {
        width: 67%;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .pagination
    {
        display: none;
    }


    .products_head .sort
    {
        width: 100%;

        flex-wrap: nowrap;
    }

    .products_head .sort .nice-select
    {
        width: 100%;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .data
    {
        padding: 15px;
    }


    .cart_info .select_all
    {
        margin-bottom: 11px;
        padding-bottom: 15px;
    }


    .cart_info .seller_name
    {
        line-height: 22px;

        padding-bottom: 11px;
    }


    .cart_info .product
    {
        padding-left: 40px;
    }


    .cart_info .product .thumb
    {
        position: relative;
        left: 0;
    }


    .cart_info .product .info
    {
        width: calc(100% - 100px);
        margin-left: auto;
    }


    .cart_info .product .price
    {
        width: calc(100% - 160px);
    }


    .cart_info .product .amount
    {
        width: 136px;
        min-width: 0;
    }


    .cart_info .product .price.total
    {
        margin-top: -26px;
    }


    .cart_info .delivery
    {
        line-height: 22px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .methods .icon + *
    {
        width: calc(100% - 97px);
    }

    .checkout_info .methods .btn
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 8px;
    }


    .checkout_info .cart .seller_name
    {
        line-height: 22px;

        padding-bottom: 11px;
    }


    .checkout_info .cart .product
    {
        flex-wrap: wrap;
    }


    .checkout_info .cart .product .info
    {
        width: calc(100% - 100px);
        margin: 0 0 0 auto;
    }


    .checkout_info .cart .product .add_message
    {
        margin-top: 12px;
    }

    .checkout_info .cart .product .add_message .btn
    {
        font-size: 14px;
        line-height: 20px;
    }


    .checkout_info .cart .product .buy
    {
        display: flex;

        width: 100%;
        min-width: 0;
        margin-top: 16px;
        padding-left: 100px;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .checkout_info .cart .product .price
    {
        margin-top: 0;
        margin-left: 24px;
    }



    /*------------
        Footer
    ------------*/



    /*-----------
        PopUp
    -----------*/
    #delivery_method_modal .address,
    #delivery_method_modal .points
    {
        width: 100%;
    }


    #delivery_method_modal .points .list
    {
        height: auto;
        max-height: 400px;
    }


    #delivery_method_modal .map_wrap
    {
        width: 100%;
        margin-top: 24px;
    }
}
