@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 24px;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination .actions
    {
        font-size: 15px;
    }

    .pagination .actions > * + *
    {
        margin-left: 20px;
    }



    /*------------
        Header
    ------------*/
    header .catalog .tabs
    {
        width: 100%;
        padding: 16px 20px;

        border-radius: 5px;
    }


    header .catalog .tabs .row
    {
        flex-direction: row;

        margin-bottom: -4px;
        margin-left: -20px;
    }

    header .catalog .tabs .row > *
    {
        margin-bottom: 4px;
        margin-left: 20px;
    }

    header .catalog .tabs .row > * + *
    {
        margin-top: 0;
    }


    header .catalog .tab_content.active
    {
        width: 100%;
        padding: 20px;
    }



    header .links > * + *
    {
        margin-left: 20px;
    }


    header .links .link
    {
        font-size: 13px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        width: 100%;
        margin-bottom: 20px;
    }



    aside .mob_filter_btn
    {
        display: block;
    }


    aside .filter
    {
        display: none;

        padding-top: 20px;
    }



    /*----------------
        Block head
    ----------------*/



    /*----------------
        Typography
    ----------------*/



    /*----------------
        Categories
    ----------------*/
    .categories .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .categories .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .categories .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .categories .row > *
    {
        display: inline-block;

        width: 200px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .categories .row > * + *
    {
        margin-left: 16px;
    }



    /*-------------
        Banners
    -------------*/
    .banners .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .banners .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .banners .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .banners .row > *
    {
        display: inline-block;

        width: 300px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .banners .row > * + *
    {
        margin-left: 20px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe .title
    {
        width: 100%;
        margin-bottom: 16px;
    }


    .subscribe form
    {
        width: 100%;
    }

    .subscribe form .input,
    .subscribe form .submit_btn
    {
        width: calc(50% - 6px);
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        width: 506px;
    }


    .product_info .images .thumbs.swiper-container
    {
        width: 81px;
    }

    .product_info .images .thumbs .slide button
    {
        height: 108px;
    }


    .product_info .images .big
    {
        width: calc(100% - 101px);
    }

    .product_info .images .big .slide .btn
    {
        height: 537px;
    }


    .product_info .data
    {
        width: 100%;
        margin-top: 32px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .rating
    {
        width: 100%;
        padding: 27px;

        order: 1;
    }


    .reviews .data
    {
        width: 100%;
        margin-top: 24px;

        order: 2;
    }



    /*--------------
        Products
    --------------*/
    .products .row,
    .content .products .row
    {
        --products_count: 3;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: 33.333%;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        padding: 0;

        border: none;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product
    {
        position: relative;

        padding-left: 140px;

        flex-wrap: wrap;
    }


    .cart_info .product .select
    {
        position: absolute;
        top: 0;
        left: 0;

        margin: 0;
    }


    .cart_info .product .thumb
    {
        position: absolute;
        top: 0;
        left: 40px;
    }


    .cart_info .product .info
    {
        width: 100%;
        margin: 0;
        padding: 0 40px 0 0;
    }

    .cart_info .product .options
    {
        font-size: 13px;
        line-height: 19px;
    }


    .cart_info .product .price,
    .cart_info .product .price.total
    {
        line-height: 24px;

        margin-top: 20px;
        margin-left: 0;
        padding-top: 0;
    }


    .cart_info .product .amount
    {
        margin-top: 20px;
        margin-left: 0;
        padding-top: 0;
    }


    .cart_info .product .delete
    {
        position: absolute;
        top: 0;
        right: 0;

        margin: 0;
        padding: 0;
    }

    .cart_info .product .delete .btn
    {
        height: 24px;
    }


    .cart_info .delivery
    {
        line-height: 24px;

        width: 100%;
    }


    .cart_info .total_price
    {
        width: 100%;
        margin-top: 28px;

        text-align: center;
    }

    .cart_info .total_price .name
    {
        font-size: 17px;
        line-height: 27px;
    }

    .cart_info .total_price .price
    {
        font-size: 32px;
        line-height: 100%;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .data
    {
        width: 100%;
    }


    .checkout_info .cart .product .options
    {
        font-size: 13px;
        line-height: 19px;
    }


    .checkout_info .col_right
    {
        width: 100%;
        margin-top: 40px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .section_title
    {
        margin-bottom: 20px;
    }



    /*---------------
        Documents
    ---------------*/
    .lk_info .documents .col_date,
    .lk_info .documents .col_price
    {
        width: 124px;
        min-width: 124px;
    }



    /*----------------
        Order info
    ----------------*/
    .order_info .data
    {
        width: 100%;
    }


    .order_info .product .options
    {
        font-size: 13px;
        line-height: 19px;
    }


    .order_info .col_right
    {
        width: 100%;
        margin-top: 40px;
    }



    /*-----------------
        Add product
    -----------------*/
    .lk_info .add_product .form .exp
    {
        font-size: 13px;
        line-height: 19px;

        width: 153px;
    }



    /*------------
        Footer
    ------------*/
    footer .cont
    {
        justify-content: flex-start;
    }


    footer .title
    {
        margin-bottom: 8px;
    }


    footer .links + .links
    {
        margin-left: 40px;
    }

    footer .links,
    footer .socials
    {
        min-width: 0;
    }


    footer .links .items
    {
        display: none;
    }


    footer .copyright
    {
        line-height: 21px;

        margin-left: auto;

        order: 3;
    }



    /*-----------
        PopUp
    -----------*/
    #delivery_method_modal .address,
    #delivery_method_modal .points
    {
        width: calc(50% - 32px);
    }
}
