/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'ALSRubl';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/ALSRubl.woff') format('woff'),
    url('../fonts/ALSRubl.ttf') format('truetype');
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior-y: contain;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #1c1c1c;
    --font_size: 16px;
    --font_size_title: 26px;
    --font_family: 'Montserrat', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #0098ff;
}

::-moz-selection
{
    color: #fff;

    background: #0098ff;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #0098ff;
}

html.custom_scroll
{
    scrollbar-color: #0098ff #ccc;
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1148px;
    margin: 0 auto;
    padding: 0 24px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.block
{
    margin-bottom: 50px;
}

.block.no_margin
{
    margin-bottom: 0 !important;
}



.currency
{
    font-family: ALSRubl;
    font-weight: 400 !important;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop
{
    background: rgba(0,0,0,.6);
}



/*------------
    Header
------------*/
header
{
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
}



header .top
{
    color: #fff;
    font-size: 14px;
    line-height: 40px;

    background: #3f3f3f;
}

header .top .cont
{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



header .info
{
    padding: 30px 0;
}

header .info .cont
{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



header .location
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .location .icon
{
    color: #0098ff;

    display: block;

    width: 13px;
    height: 15px;
    margin-right: 9px;
}



header .top .links
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .top .links > * + *
{
    margin-left: 24px;
}

header .top .links a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}



header .logo,
header .logo img
{
    color: currentColor;

    display: block;

    text-decoration: none;
}



header .catalog_link
{
    color: #fff;
    line-height: 18px;

    display: flex;

    padding: 11px 17px 11px 15px;

    text-decoration: none;

    border-radius: 5px;
    background-color: rgb(0, 152, 255);

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .catalog_link .icon
{
    display: block;

    width: 18px;
    height: 18px;
    margin-right: 13px;
}



header .search
{
    width: calc(100% - 580px);
}

header .search form
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .search ::-webkit-input-placeholder
{
    color: #a8a8a8;
}

header .search :-moz-placeholder
{
    color: #a8a8a8;
}

header .search :-ms-input-placeholder
{
    color: #a8a8a8;
}

header .search .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 14px;

    display: block;

    width: 100%;
    height: 40px;
    padding: 0 53px 0 14px;

    border: 1px solid #dadada;
    border-radius: 5px;
    background: none;
}

header .search .submit_btn
{
    color: #fff;

    display: flex;

    width: 40px;
    height: 40px;
    margin-left: -40px;

    border-radius: 5px;
    background-color: rgb(0, 152, 255);

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .search .submit_btn .icon
{
    display: block;

    width: 15px;
    height: 15px;
}



header .info .links
{
    display: flex;

    margin-top: -6px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

header .info .links > * + *
{
    margin-left: 17px;
}


header .info .links .link
{
    color: #0098ff;
    font-size: 14px;

    text-align: center;
    text-decoration: none;
}


header .info .links .icon
{
    position: relative;

    display: flex;

    height: 27px;
    margin-bottom: 4px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


header .info .links .icon .count
{
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    position: absolute;
    bottom: -6px;
    left: 50%;

    width: 21px;
    height: 21px;

    text-align: center;

    border-radius: 50%;
    background: #f8bb01;
}


header .info .links .icon svg
{
    display: block;
}

header .info .links .account_link .icon svg
{
    width: 23px;
    height: 27px;
}

header .info .links .orders_link .icon svg
{
    width: 20px;
    height: 21px;
}

header .info .links .cart_link .icon svg
{
    width: 20px;
    height: 24px;
}



/*---------------
    Page head
---------------*/
.page_head
{
    margin-bottom: 30px;
}



.breadcrumbs
{
    color: #a2a2a2;
    font-size: 13px;
    line-height: 30px;
}

.breadcrumbs a
{
    color: currentColor;

    text-decoration: none;
}

.breadcrumbs .sep
{
    display: inline-block;

    margin: 0 6px;

    vertical-align: top;
}



.page_title
{
    color: #1c1c1c;
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: calc(var(--font_size_title) + 11px);

    display: block;

    margin-top: 8px;
}



.product_model
{
    color: #1c1c1c;
    line-height: 20px;

    margin-top: 12px;
}



/*----------------
    Block head
----------------*/
.block_head
{
    display: flex;

    width: 100%;
    margin-bottom: 10px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.block_head .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: calc(var(--font_size_title) + 6px);

    display: block;
}

.block_head .title small
{
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 30px;

    margin-left: 12px;
}


.block_head .desc
{
    width: 100%;
    max-width: 100%;
    margin-top: 12px;
}


.block_head.center
{
    text-align: center;

    justify-content: center;
}

.block_head.center .title
{
    width: 100%;
}

.block_head.center .desc
{
    margin-right: auto;
    margin-left: auto;
}



/*----------------
    Typography
----------------*/
.text_block
{
    color: #a2a2a2;
    font-size: 14px;
    line-height: 25px;
}


.text_block > *
{
    margin-bottom: 20px;
}


.text_block > :last-child
{
    margin-bottom: 0 !important;
}

.text_block > :first-child
{
    margin-top: 0 !important;
}


.text_block img
{
    display: block;

    max-width: 100%;
}

.text_block img.loaded
{
    height: auto !important;
}



/*-----------------
    Main slider
-----------------*/
.main_slider .swiper-container
{
    overflow: visible !important;

    border-radius: 5px;
}

.main_slider .swiper-container .slide
{
    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}

.main_slider .swiper-container .slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.main_slider .slide
{
    position: relative;
    z-index: 3;

    overflow: hidden;

    border-radius: 5px;
    background: #ddd;
}


.main_slider .slide .image
{
    color: var(--text_color);

    position: relative;

    display: block;
    overflow: hidden;

    padding-bottom: 27.27%;

    text-decoration: none;

    background: #ddd;
}

.main_slider .slide .image img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 100% 50%;
}



/*--------------
    Products
--------------*/
.products .swiper-container
{
    position: relative;
    z-index: 1;

    overflow: visible !important;
}

.products .swiper-container:hover
{
    z-index: 9;
}

.products .swiper-container .slide
{
    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}

.products .swiper-container .slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.products .swiper-button-next,
.products .swiper-button-prev
{
    top: 0;
    bottom: auto;

    margin-top: -5px;
    padding: 0;

    background: none;

    justify-content: center;
}

.products .swiper-button-prev
{
    left: -40px;
}

.products .swiper-button-next
{
    right: -40px;
}


.products .product
{
    position: relative;

    padding: 15px;

    transition: .2s linear;

    border-radius: 5px;
}


.products .product .stickers
{
    position: absolute;
    z-index: 3;
    top: 26px;
    right: 26px;

    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.products .product .stickers .sticker
{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    margin-left: 10px;
    padding: 0 5px;

    white-space: nowrap;

    border-radius: 5px;
}

.products .product .stickers .green
{
    color: #fff;

    text-transform: uppercase;

    background: #5dd98c;
}

.products .product .stickers .yellow
{
    background: #f8bb01;
}

.products .product .stickers .red
{
    color: #fff;

    background: #de0e0e;
}

.products .product .stickers .blue
{
    color: #fff;

    background: #0098ff;
}


.products .product .thumb
{
    color: var(--text_color);

    position: relative;

    display: block;
    overflow: hidden;

    margin-bottom: 15px;
    padding-bottom: 133.33%;

    text-decoration: none;

    border: 1px solid #ececec;
    background: #ddd;
}

.products .product .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.products .product .price
{
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 700;

    display: flex;

    white-space: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.products .product .price .old
{
    color: #a2a2a2;
    font-size: 13px;
    font-weight: 400;

    margin-left: 10px;

    text-decoration: line-through;
}


.products .product .name
{
    color: #1c1c1c;
    line-height: 20px;

    margin-top: 4px;
}

.products .product .name a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}


.products .product .rating
{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    display: flex;

    margin-top: 4px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.products .product .rating .icon
{
    color: #ededed;

    display: block;

    width: 15px;
    height: 14px;
}

.products .product .rating .icon + .icon
{
    margin-left: 3px;
}

.products .product .rating .icon.active
{
    color: #f8bb01;
}

.products .product .rating span
{
    color: #0098ff;

    position: relative;
    top: 1px;

    display: block;

    margin-left: 6px;
}


.products .product .options
{
    display: none;
}

.products .product .option
{
    margin-top: 8px;
}


.products .product .option .title
{
    color: #a2a2a2;
    font-size: 14px;
    line-height: 20px;
}


.products .product .option .vals
{
    display: flex;

    margin-top: 6px;
    margin-bottom: -10px;
    margin-left: -10px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.products .product .option .vals > *
{
    margin-bottom: 10px;
    margin-left: 10px;
}


.products .product .option input
{
    display: none;
}


.products .product .option label
{
    color: #1c1c1c;
    line-height: 20px;

    position: relative;

    display: block;

    cursor: pointer;
}

.products .product .option label img
{
    display: block;

    width: 20px;
    height: 20px;
}


.products .product .option label.radio_btn
{
    padding-left: 24px;
}

.products .product .option label.radio_btn:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    content: '';

    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.products .product .option label.radio_btn:after
{
    position: absolute;
    top: 5px;
    left: 5px;

    display: block;

    width: 10px;
    height: 10px;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    border-radius: 50%;
    background: #3f3f3f;
}

.products .product .option input:checked + label.radio_btn:after
{
    opacity: 1;
}


.products .product .buy_btn
{
    color: #fff;
    line-height: 28px;

    display: none;

    width: 100%;
    margin-top: 20px;
    padding: 11px;

    border-radius: 5px;
    background-color: rgb(0, 152, 255);
}


.products .product:hover
{
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(154, 214, 255, .5);
}

.products .product:hover .options,
.products .product:hover .buy_btn
{
    display: block;
}



/*----------------
    Categories
----------------*/
.categories .row
{
    margin-bottom: -20px;
    margin-left: -20px;

    align-items: stretch;
    align-content: stretch;
}

.categories .row > *
{
    width: calc(20% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}


.categories .category
{
    color: #fff;
    font-weight: 500;
    line-height: 20px;

    display: flex;

    min-height: 80px;
    padding: 20px;

    transition: background-color .2s linear;
    text-decoration: none;

    border-radius: 5px;
    background-color: rgb(0, 152, 255);

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.categories .category .icon
{
    display: flex;

    margin-left: 20px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.categories .category:hover
{
    background-color: #3f3f3f;
}



/*-------------
    Banners
-------------*/
.banners .row
{
    margin-bottom: -26px;
    margin-left: -26px;
}

.banners .row > *
{
    width: calc(33.333% - 26px);
    margin-bottom: 26px;
    margin-left: 26px;
}


.banners .banner
{
    color: var(--text_color);

    display: block;

    text-decoration: none;
}


.banners .banner .thumb
{
    position: relative;

    overflow: hidden;

    padding-bottom: 57.14%;

    border-radius: 5px;
    background: #ddd;
}

.banners .banner .thumb img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}



/*---------------
    Subscribe
---------------*/
.subscribe .data
{
    display: flex;

    padding: 27px;

    border-radius: 5px;
    background: #f7f7f7;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.subscribe .title
{
    color: #3f3f3f;
    font-weight: 500;
    line-height: 25px;

    width: 488px;
    max-width: 100%;
}


.subscribe form
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.subscribe form .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 14px;

    display: block;

    width: 169px;
    height: 40px;
    padding: 0 14px;

    border: 1px solid #dadada;
    border-radius: 5px;
    background: transparent;
}

.subscribe form .submit_btn
{
    color: #fff;
    line-height: 28px;

    margin-left: 20px;
    padding: 6px 13px;

    white-space: nowrap;

    border-radius: 5px;
    background-color: rgb(0, 152, 255);
}


.subscribe .agree
{
    color: #3f3f3f;
    font-size: 11px;
    line-height: 20px;

    margin-top: 12px;
}



/*------------------
    Product info
------------------*/
.product_info .images
{
    position: relative;

    width: 506px;
    max-width: 100%;
}


.product_info .images .big
{
    width: calc(100% - 101px);
    margin-left: auto;

    border: 1px solid #ebebeb;
}


.product_info .images .big .slide a
{
    position: relative;

    display: block;
    overflow: hidden;

    height: 537px;
}

.product_info .images .big .slide img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.product_info .images .big .swiper-button-next,
.product_info .images .big .swiper-button-prev
{
    display: none;
}


.product_info .images .thumbs.swiper-container
{
    position: absolute;
    top: 0;
    left: 0;

    width: 81px;
    height: 100%;
    padding: 38px 0;
}

.product_info .images .thumbs.swiper-container .slide
{
    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}

.product_info .images .thumbs.swiper-container .slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}

.product_info .images .thumbs .slide button
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 108px;

    border: 1px solid #ececec;
    background: #ddd;
}

.product_info .images .thumbs .slide button:after
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    border: 1px solid #3f3f3f;
}

.product_info .images .thumbs .slide img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.product_info .images .thumbs .slide.swiper-slide-thumb-active button
{
    border-color: #3f3f3f;
}

.product_info .images .thumbs .slide.swiper-slide-thumb-active button:after
{
    opacity: 1;
}


.product_info .images .thumbs .swiper-button-next,
.product_info .images .thumbs .swiper-button-prev
{
    top: -10px;
    right: 0;
    bottom: auto;
    left: 0;

    margin: auto;
    padding: 0;

    border-radius: 0;
    background: none;

    justify-content: center;
}

.product_info .images .thumbs .swiper-button-prev .icon
{
    width: 13px;
    height: 15px;

    transform: rotate(180deg);
}

.product_info .images .thumbs .swiper-button-next .icon
{
    width: 13px;
    height: 15px;

    transform: rotate(0);
}

.product_info .images .thumbs .swiper-button-next
{
    top: auto;
    bottom: -10px;
}


.product_info .data
{
    width: calc(100% - 540px);
    margin-left: auto;
}


.product_info .rating
{
    font-weight: 500;
    line-height: 20px;

    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.product_info .rating .icon
{
    color: #ededed;

    display: block;

    width: 15px;
    height: 14px;
}

.product_info .rating .icon + .icon
{
    margin-left: 3px;
}

.product_info .rating .icon.active
{
    color: #f8bb01;
}

.product_info .rating span
{
    color: #0098ff;

    position: relative;
    top: 1px;

    display: block;

    margin-left: 8px;
}


.product_info .product_price
{
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;

    display: flex;

    margin-top: 12px;

    white-space: nowrap;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.product_info .product_price .old
{
    color: #a2a2a2;
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 100%;

    margin-top: 6px;
    margin-left: 10px;

    text-decoration: line-through;
}


.product_info .product_price .exp
{
    color: #a2a2a2;
    font-size: var(--font_size);
    font-weight: 400;
    line-height: 20px;

    width: 100%;
    margin-top: 15px;

    white-space: normal;
}


.product_info .stickers
{
    display: flex;

    margin-top: 8px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.product_info .stickers .sticker
{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    margin-left: 10px;
    padding: 0 5px;

    white-space: nowrap;

    border-radius: 5px;
}

.product_info .stickers .green
{
    color: #fff;

    text-transform: uppercase;

    background: #5dd98c;
}

.product_info .stickers .yellow
{
    background: #f8bb01;
}

.product_info .stickers .red
{
    color: #fff;

    background: #de0e0e;
}

.product_info .stickers .blue
{
    color: #fff;

    background: #0098ff;
}


.product_info .manufacturer
{
    line-height: 25px;

    margin-top: 15px;
}


.product_info .product_color
{
    margin-top: 24px;
}

.product_info .product_color .vals
{
    display: flex;

    margin-bottom: -10px;
    margin-left: -10px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.product_info .product_color .vals > *
{
    margin-bottom: 10px;
    margin-left: 10px;
}


.product_info .product_color input
{
    display: none;
}


.product_info .product_color label
{
    position: relative;

    display: block;

    cursor: pointer;
}

.product_info .product_color label:after
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    border: 2px solid #3f3f3f;
    background: url(../images/ic_check.svg) 50% no-repeat;
}

.product_info .product_color label img
{
    display: block;

    width: 30px;
    height: 30px;
}

.product_info .product_color input:checked + label:after
{
    opacity: 1;
}


.product_info .sizes
{
    margin-top: 24px;
}

.product_info .sizes .title
{
    color: #0098ff;
    font-weight: 500;
    line-height: 28px;

    margin-bottom: 12px;
}


.product_info .sizes .item .info
{
    pointer-events: none;
}


.product_info .sizes .item
{
    display: flex;

    padding: 11px 0;

    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.product_info .sizes .item + .item
{
    margin-top: -1px;
}


.product_info .sizes .name
{
    line-height: 25px;
}


.product_info .sizes .model
{
    color: #a2a2a2;
    font-size: 14px;
    line-height: 20px;
}


.product_info .sizes .mob_hide
{
    margin-left: auto;
}


.product_info .sizes .mob_hide .row
{
    align-items: center;
    align-content: center;
}


.product_info .sizes .price
{
    font-weight: 500;
    line-height: 20px;

    white-space: nowrap;
}


.product_info .sizes .amount
{
    position: relative;

    width: 98px;
    margin-left: 18px;
}

.product_info .sizes .amount button
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 1px;

    display: block;

    width: 37px;
    height: 40px;
}

.product_info .sizes .amount button:before,
.product_info .sizes .amount button:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 13px;
    height: 3px;
    margin: auto;

    content: '';

    border-radius: 2px;
    background: #0098ff;
}

.product_info .sizes .amount button:after
{
    width: 3px;
    height: 13px;
}

.product_info .sizes .amount button.plus
{
    right: 1px;
    left: auto;
}

.product_info .sizes .amount button.minus:after
{
    opacity: 0;
}

.product_info .sizes .amount .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    font-weight: 500;

    display: block;

    width: 100%;
    height: 40px;
    padding: 0 37px;

    text-align: center;

    border: 1px solid #dadada;
    border-radius: 5px;
    background: none;
}


.product_info .sizes .available
{
    font-size: 14px;
    line-height: 18px;

    width: 95px;
    margin-left: 18px;
}


.product_info .sizes .total
{
    display: flex;

    margin-top: 19px;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.product_info .sizes .total .amount_val
{
    line-height: 25px;

    white-space: nowrap;
}


.product_info .sizes .total .price
{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;

    margin-left: auto;
}

.product_info .sizes .total .price .currency
{
    font-weight: 700 !important;
}


.product_info .sizes .total .buy_btn
{
    color: #fff;
    line-height: 28px;

    display: block;

    margin-left: 20px;
    padding: 6px 19px;

    border-radius: 5px;
    background-color: rgb(0, 152, 255);
}


.product_info .buy_info
{
    color: #a2a2a2;
    font-size: 14px;
    line-height: 25px;

    margin-top: 20px;

    text-align: right;
}



/*----------------------
    Product features
----------------------*/
.product_features .hide
{
    display: none;
}


.product_features .item
{
    line-height: 20px;

    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.product_features .item + .item
{
    margin-top: 10px;
}


.product_features .item .name
{
    color: #a2a2a2;

    position: relative;
    z-index: 3;

    overflow: hidden;

    width: calc(50% - 20px);
}

.product_features .item .name:before
{
    position: absolute;
    z-index: -1;
    bottom: 6px;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';

    border-bottom: 1px dotted #a2a2a2;
}

.product_features .item .name div
{
    position: relative;
    z-index: 1;

    display: inline-block;

    padding-right: 10px;

    vertical-align: top;

    background: var(--bg);
}

.product_features .item .val
{
    width: 50%;
}


.product_features .spoler_btn
{
    color: #0098ff;
    line-height: 28px;

    margin-top: 12px;
}

.product_features .spoler_btn span + span,
.product_features .spoler_btn.active span
{
    display: none;
}

.product_features .spoler_btn.active span + span
{
    display: inline;
}


.product_features .text_block
{
    margin-top: 20px;
}



/*-------------
    Reviews
-------------*/
.reviews .sort
{
    display: flex;

    margin-bottom: 29px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.reviews .sort .name
{
    color: #a2a2a2;
}


.reviews .sort .btn
{
    color: #a2a2a2;
    line-height: 18px;

    display: flex;

    margin-left: 19px;
    padding: 11px 13px;

    transition: .2s linear;

    border: 1px solid #dadada;
    border-radius: 5px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.reviews .sort .btn .icon
{
    display: none;

    width: 13px;
    height: 15px;
    margin-left: 11px;

    transition: transform .2s linear;
}


.reviews .sort .btn.down,
.reviews .sort .btn.up
{
    color: #0098ff;

    border-color: #0098ff;
    box-shadow: inset 0 0 0 1px #0098ff;
}

.reviews .sort .btn.down .icon
{
    display: block;
}

.reviews .sort .btn.up .icon
{
    display: block;

    transform: rotate(180deg);
}



.reviews .data
{
    width: calc(100% - 460px);
}


.reviews .list
{
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}


.reviews .review
{
    display: flex;

    padding: 29px 0;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.reviews .review + .review
{
    border-top: 1px solid #ececec;
}


.reviews .review .avatar
{
    position: relative;

    overflow: hidden;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background: #dbeff7;
}

.reviews .review .avatar img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.reviews .review .avatar + .info
{
    width: calc(100% - 68px );
}

.reviews .review .info
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.reviews .review .author
{
    font-size: 18px;
    font-weight: 700;
}


.reviews .review .date
{
    color: #a2a2a2;

    margin-left: 16px;
}


.reviews .review .stars
{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    display: flex;

    width: 100%;
    margin-top: 12px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.reviews .review .stars .icon
{
    color: #ededed;

    display: block;

    width: 15px;
    height: 14px;
}

.reviews .review .stars .icon + .icon
{
    margin-left: 3px;
}

.reviews .review .stars .icon.active
{
    color: #f8bb01;
}


.reviews .review .text
{
    line-height: 25px;

    width: 100%;
    margin-top: 15px;
}


.reviews .review .images
{
    display: flex;

    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: -20px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.reviews .review .images > *
{
    margin-bottom: 20px;
    margin-left: 20px;
}

.reviews .review .images a
{
    color: var(--text_color);

    display: block;

    text-decoration: none;
}

.reviews .review .images img
{
    display: block;

    max-width: 100%;
}



.reviews .rating
{
    display: flex;

    width: 400px;
    max-width: 100%;
    margin-left: auto;
    padding: 29px;

    border: 1px solid #dadada;
    border-radius: 5px;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.reviews .rating .stars
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.reviews .rating .stars .icon
{
    color: #ededed;

    display: block;

    width: 33px;
    height: 30px;
}

.reviews .rating .stars .icon + .icon
{
    margin-left: 6px;
}

.reviews .rating .stars .icon.active
{
    color: #f8bb01;
}


.reviews .rating .value
{
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;

    margin-left: auto;

    white-space: nowrap;
}


.reviews .rating .estimates
{
    width: 100%;
    margin-top: 24px;
}


.reviews .rating .item
{
    line-height: 25px;

    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.reviews .rating .item + .item
{
    margin-top: 8px;
}

.reviews .rating .item .name
{
    width: 86px;

    white-space: nowrap;
}

.reviews .rating .item .progress
{
    width: calc(100% - 151px);
    height: 8px;

    border-radius: 4px;
    background: #ededed;
}

.reviews .rating .item .progress div
{
    height: 8px;

    border-radius: 4px;
    background: #0098ff;
}

.reviews .rating .item .val
{
    font-weight: 500;

    width: 45px;

    white-space: nowrap;
}



.reviews .load_more
{
    margin-top: 29px;
}

.reviews .load_more .btn
{
    color: #0098ff;
    line-height: 18px;

    padding: 11px 13px;

    border: 1px solid #0098ff;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #0098ff;
}



/*------------
    Footer
------------*/
footer
{
    padding: 24px 0 32px;

    background: #f7f7f7;
}


footer .cont
{
    justify-content: space-between;
}

footer .cont + .cont
{
    margin-top: 8px;
}


footer .title
{
    color: #1c1c1c;
    line-height: 26px;

    margin-bottom: 12px;
}

footer .title a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}


footer .links
{
    min-width: 320px;
}


footer .links .items
{
    color: #a2a2a2;
    line-height: 26px;
}

footer .links .items a
{
    color: currentColor;

    display: inline-block;

    vertical-align: top;
    text-decoration: none;
}


footer .copyright
{
    color: #1c1c1c;
    line-height: 26px;

    align-self: flex-end;
}



footer .socials
{
    min-width: 320px;
}

footer .socials .items
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

footer .socials .items a
{
    color: #0098ff;

    display: block;

    text-decoration: none;
}

footer .socials .items a + a
{
    margin-left: 10px;
}

footer .socials .items .icon
{
    display: block;
}

footer .socials .instagram_link .icon
{
    width: 20px;
    height: 20px;
}

footer .socials .vkontakte_link .icon
{
    width: 25px;
    height: 14px;
}



/*-----------
    PopUp
-----------*/
.modal
{
    display: none;
    visibility: visible !important;

    width: 480px;
    max-width: 100%;
    padding: 40px 50px;

    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}


.modal_title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: normal;

    text-align: center;
}


.modal_desc
{
    margin-top: 24px;

    text-align: center;
}
